.navbar-nav .nav-link {
    margin: 0 0.5rem;
}

#schachschoul {
    background-color: #dc3545;
    font-weight: bold;
    border-radius: 0 1rem;
    padding: 0.75rem 1rem;
}

#header-title {
    font-size: 2.5rem;
}
@media (min-width: 576px) {
    #header-title {
        font-size: 4rem;
    }
}
@media (min-width: 1400px) {
    #header-title {
        font-size: 5rem;
    }
}

@media (max-width: 992px) {
    #top-bar {
        margin-left: 0px;
        margin-right: 0px;
    }

    #header-main {
        padding: 1.5rem 2rem;
    }
}

#header {
    min-height: 400px;
    max-width: 1500px;
}


.active {
    font-weight: bold;
}

@media (max-width: 500px) {
    .col-mini {
        width: 100%;
    }
}

/* Images and Icons */
.carousel-inner {
    height: 240px;
}
@media (min-width: 576px) {
    .carousel-inner {
        height: 320px;
    }
}
@media (min-width: 992px) {
    .carousel-inner {
        height: 400px;
    }
}

i {
    margin-right: 0.5rem;
}

.person-pic {
    width: 150px;
    height: 150px;
    border: 3px solid black;
    margin-bottom: 1rem;
}

.sponsor-pic {
    width: 210px;
    height: 120px;
    border:2px solid #4e088f;
    margin-right: 0.5rem;
}



/* Backgrounds */
.bg-main {
    background-color: #4e088f;
}
.bg-main-medium {
    background-color: #4e088f72;
}
.bg-main-light {
    background-color: #4e088f29;
}



/* Highlight-Box */
.highlight-box {
    background-color: #4e088f;
    color: white;
    border-radius: 0 5rem 0 1rem;
    padding: 1.5rem;
    margin: 0 1rem;
    box-shadow: 10px 10px #4e088f72;
}

@media (max-width: 576px) {
    .highlight-box {
        margin: 0;
        margin-right: 0.5rem !important;
    }
}

.white-highlight-box {
    background-color: white;
    color: black;
    border-radius: 0 5rem 0 1rem;
    padding: 1.25rem 1.5rem;
    height: 100%;
}

.highlight-box-tight {
    padding: 0.65rem 0.9rem;
}

@media (max-width: 992px) {
    .highlight-box-tight {
        margin: 0;
    }
}

.picture-card {
    background-color: #4e088f;
    color: white;
    border-radius: 0.25rem 0.25rem 0 1rem;
    box-shadow: 10px 10px #4e088f72;
}

@media (max-width: 400px) {
    .col-picture-card {
        width: 100%;
    }
}

.fotoen {
    margin-right: 0rem;
}


/* Text */
body {
    font-family: "Rajdhani", sans-serif;
}

.highlight {
    color: #4e088f;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;   
}

@media (max-width: 576px) {
    .person-name {
        font-size: 1.25rem;
    }
}


.contact {
    color: black;
    text-decoration: none;
}
.contact:hover {
    color: rgba(0, 0, 0, 0.486);
}

.contact-light {
    color: white;
    text-decoration: none;
}
.contact-light:hover {
    color: rgba(255, 255, 255, 0.757);
}

@media (max-width: 350px) {
    .contact-light {
        font-size: 0.75rem;
    }
}

#footer {
    color: white;
}
#footer a {
    color: white;
    text-decoration: none;
}
#footer a:hover {
    color: rgba(255, 255, 255, 0.757);
}



/* Buttons */
.btn {
    border-radius: 0 1rem;
    padding: 0.75rem 1rem;
    margin: 0 0.5rem 0.5rem 0;
    height: fit-content;
    font-weight: bold;
}

.btn-outline-light {
    border-radius: 0.25rem;
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.1);
}

.btn-social {
    border-color: rgba(255, 255, 255, 0.100);
    background-color: rgba(255, 255, 255, 0.100);
    color: white;
    width: 50px; 
    height: 50px;
}
.btn-social:hover {
    background-color: rgba(0, 0, 0, 0.250);
}

@media (max-width: 576px) {
    .btn-social, .btn-umeldung {
        width: 100% !important;
    }
}

.btn-primary {
    background-color: #4e088f;
    border-color: #4e088f; 
}
.btn-primary:hover {
    background-color: #3c086d;
    border-color: #3c086d;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem #4e088f29;
}
.btn.btn-primary:not(:disabled):not(.disabled):active,
.btn.btn-primary:not(:disabled):not(.disabled).active {
    background-color: #3c086d;
    border-color: #3c086d;
}
.btn.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn.btn-primary:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem #4e088f29;
}
.btn.btn-primary.disabled {
    background-color: #4e088f;
    border-color: #4e088f; 
}

.btn-info {
    background-color: #4e088f72;
    border-color: white; 
}
.btn-info:hover {
    background-color: #4e088f;
    border-color: #4e088f;
    color: white;
}
.btn-info:focus, .btn-info.focus {
    box-shadow: 0 0 0 0.2rem #4e088f29;
}
.btn.btn-info:not(:disabled):not(.disabled):active,
.btn.btn-info:not(:disabled):not(.disabled).active {
    background-color: #4e088f;
    border-color: #4e088f;
    color: white;
}
.btn.btn-info:not(:disabled):not(.disabled):active:focus,
.btn.btn-info:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem #4e088f29;
}

/* Map */
#embed-map-canvas img.text-marker {
    max-width:none!important;background:none!important;
}
img {
    max-width:none
}